name: UI Test Automation - Smoke

on:
  push:
    branches: [ main ]

jobs:
  run-ui-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Install Chrome
        uses: browser-actions/setup-chrome@v1
        with:
          chrome-version: 'latest'

      - name: Restore dependencies
        run: dotnet restore

      - name: Run smoke tests
        run: dotnet test --filter "TestCategory=Smoke" --logger "trx;LogFileName=test_results.trx" --configuration Release

      - name: Publish Test Results
        uses: dorny/test-reporter@v1  
        if: always()
        with:
          name: Nunit Smoke Test Results  
          path: '**/test_results/*.trx'
          reporter: dotnet-trx

      - name: Upload Test Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Test-Artifacts
          path: |
            Reports/**
            Screenshots/**